.nav-link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 10px 0;
}

.nav-link.active {
  color: var(--hover-primary-color);
}

.nav-link:hover {
  color: var(--hover-primary-color);
}

.nav-icon {
  margin-right: 10px;
}
